
	<section class="body">
	  <h1><%= gettext "The Plays", name: "The Plays" %></h1>
	</section>

	<section class="row">
	  <article class="row">
		<h2>The Plays</h2>
		 <%= for row <- @rows do %>
		   <br><br>
		   <%= row.title %>
		 <% end %>
	  </article>
	</section>