<section class="body">
 <h1><%= gettext "The Plays", name: "The Plays" %></h1>
</section>

      <div class="center-column col-md-7 col-xs-12">
        <!-- Page views should contain .center-column-header and .center-column-list -->
        <div class="center-column-header">
        </div>
        <div class="center-column-list">
          <div class="jquery-search-replace">
            <!-- Contents of this div replaced by key up triggered jquery ajax call -->
            <table class="categories-list">
              <tr></tr>
              <thead class="accent-font">
                <th>Comedies</th>
                <th>Histories</th>
                <th>Tragedies</th>
              </thead>
              <tr>
                <td data-label="Comedies" style="vertical-align:top">
                <%= link "A Midsummer Night's Dream", to: "/play/13" %>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/9">All&#39;s Well That Ends Well</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/1">As You Like It</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/3">Cymbeline</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/4">Love&#39;s Labour&#39;s Lost</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/10">Measure for Measure</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/11">Merry Wives of Windsor</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/6">Much Ado About Nothing</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/18">Pericles, Prince of Tyre</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/2">The Comedy of Errors</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/5">The Merchant of Venice</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/7">The Taming of the Shrew</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/14">The Tempest</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/17">The Winter&#39;s Tale</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/15">Troilus and Cressida</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/8">Twelfth Night, Or What You Will</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/16">Two Gentlemen of Verona</a>
                  <br>
                </td>
                <td data-label="Histories" style="vertical-align:top">
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/19">Henry IV i</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/20">Henry IV ii</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/21">Henry V</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/22">Henry VI i</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/23">Henry VI ii</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/24">Henry VI iii</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/25">Henry VIII</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/26">King John</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/27">Richard II</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/28">Richard III</a>
                  <br>
                </td>
                <td data-label="Tragedies" style="vertical-align:top">
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/29">Antony &amp; Cleopatra</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/30">Coriolanus</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/31">Hamlet</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/38">Julius Caesar</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/32">King Lear</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/33">Macbeth</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/34">Othello</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/35">Romeo and Juliet</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/36">Timon of Athens</a>
                  <br>
                  <a href="/web/20220804025534/https://www.shakespeare-monologues.org/plays/37">Titus Andronicus</a>
                  <br>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
<!-- ## begin original test template 
	<section class="body">
	  <h1><%= gettext "The Plays", name: "The Plays" %></h1>
	</section>

	<section class="row">
	  <article class="row">
		<h2>The Plays</h2>
		 <%= for row <- @rows do %>
		   <br><br>
		   <%= row.title %>
		 <% end %>
	  </article>
	</section>
## end original test template -->	