/*
 * Globals
 */

/* Links */
a {
    text-decoration: none;
    color: #111;
}

a,
a:focus {}

a:hover {
    color: #5E2612;
    text-decoration: underline;
}

a:visited {
    color: #666;
}


img {
    border: 0;
}

pre {
    background-color: #111;
    padding: 2px;
    font-size: 11px;
}

/*
 * Base structure
 */

html {
    position: relative;
    min-height: 100%;
    margin: auto 0;
    padding-left: 2px;
    margin-left: 0px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 10px;
    margin-left: min(2px, 600px);
    margin-right: min(2px, 600px);
    margin-left: 0px;
    padding-left: 2px;
}

html,
body {
    background-color: #F9F9DF;
    background-image: url("/images/parchment.jpg");
    min-height: 100%;
    width: 100%;
    padding: 0px;
    margin: auto 0;
    margin-left: 0px;
    padding-left: 2px;
}

html,body.dark-mode {
    background-color: #222222;
    
    background-image: none; /* Remove the background image in dark mode */
}

@media screen and (max-width:980px) {
    body {
      margin-bottom: 20px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 13px;
      line-height: 13px;
      padding-left: 2px;
    }
  }

body .accent-font {
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 400;
}

.container {
    max-width: 960px !important;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: min(2px, 600px);
    margin-right: min(2px, 600px);
    padding: 0px;
    margin-top: 0px;
    min-height: 100vh;
  }

h3 {
    padding-left: 7px;
}



.center-column-list {
    min-height: 300px;
    width: 100%;
    padding-bottom: 10px;
}

.link-menu-left,
.link-menu-right {
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.link-menu-bottom {
    font-size: 150%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    max-width: 100%;
    max-height: 80px;
}

/* Add a bit of space before each text link */
.link-menu-left a {
    margin-left: 2px;
    text-align: center;
}

.link-menu-right a {
    margin-left: 2px;
}


.center-column-footer {
    bottom: 0;
    max-width: 100%;
    height: 50px;
    padding: 1px;
    font-size: 10px;
    text-align: center;
    position: relative;
}

@media (min-width: 600px) {
    .center-column-footer {
      min-width: 600px;
    }
  }

.center-column-copyright {
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    display: block;
}

.tip_jar {
    padding-top: 20px;
    max-height: 40px;
}


div.wrapper_for_addthis {
    padding-left: 20px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}

div.login-banner {
    padding-top: 10px;
    padding-bottom: 10px;
}


input#search-box {
    font-size: 175%;
    width: 95%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.search-links {
    padding-left: 45px;
    margin-top: -10px;
    padding-bottom: 5px;
    font-size: 105%;
}



table.categories-list {
    width: 333px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px auto;
 
}

table.categories-list th {
    width: 100%;
    font-size: 150%;
    line-height: 110%;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}


table.categories-list td {
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    line-height: 150%;
    font-size: 135%;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid black;
    width: 100%;
}

a.categories-list {
    text-decoration: none; 
    color: #696969; 
    font-style: bold;
}

a.categories-list:hover {
    color: #5E2612;
    text-decoration: underline;
    font-style: italic;
}

.empty-table-message {
    font-size: 150%;
    /*font-style: italic;*/
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    vertical-align: top;
}

table.categories-list th {
    width: 300px;
    border-collapse: collapse;
}

table.categories-list th {
    width: 135px;
    border-collapse: collapse;
}

table.categories-list th {
    width: 333px;
    border-collapse: collapse;
}

monologue-list {
    /*width: 100%;*/
    max-width: 550px;
    margin: 0px auto;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 10px;
    vertical-align: top;
}
table.monologue-list {
    /*width: 100%;*/
    vertical-align: top;
    max-width: 550px;
    margin: 0px auto;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px
}

table.monologue-list th {
    font-size: 110%;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: solid 1px;
    color: #333;
    font-weight: normal;
}


table.monologue-list tr {
    vertical-align: top;
    margin: 0px auto;
    padding-top: 0px;
}

table.monologue-list td {
    vertical-align: top;
    padding: 6px;
    margin: 0px auto;
    text-align: left;
    
}


h1.monologue-firstline-heading {
    font-size: 200%;
    padding-top: 10px;
    vertical-align: top;
    line-height: 150%;
}

h1.monologue-firstline-heading::first-letter {
    font-size: 300%;
    color: #777;
}

.monologue-firstline-table:hover {
    color: #c9c9d2;
    font-size: 127%;
}

.monologue-firstline-table {
    padding-left: 0;
    text-align: left;
    font-size: 125%;
    font-style: bold;
    line-height: 20px;
    width: 100%;
    border-collapse: collapse;
    font-family: 'IM Fell DW Pica', serif;
}

.monologue-playname {
    font-size: 120%;
    font-style: italic;
    font-family: 'IM Fell DW Pica', serif;
}

.monologue-character {
    font-size: 125%;
    font-weight: bold;
    width: 100px;
    font-family: 'IM Fell DW Pica', serif;
    white-space: nowrap;
}

.monologue-detail {
    font-size: 100%;
    padding-top: 3px;
}

.monologue-preview {
    padding: 10px;
    font-size: 100%;
    line-height: 1.25;
    width: 455px;
    margin-top: 5px;
    margin-left: -5px;
    border: solid gray;
    border-width: 1px;
    /* background-image: url('/images/white.png'); */
    background-repeat: repeat;
    overflow: visible;
    /* z-index: 0; */
}

.monologue-actscene {
    font-size: 100%;
    white-space: nowrap;
    font-family: 'IM Fell DW Pica', serif;
}

/*
    Monologues show view modifies above classes
*/

.monologue-show {
    margin-top: 0;
    padding-bottom: 10px;
    line-height: 150%;
    font-size: 100%;
    font-size: 110%;
    font-family: 'IM Fell DW Pica', serif;
    max-width: 550px;
    min-width: 350px;
}

.monologue-body {
    font-size: 120%;
    line-height: 125%;
    padding: 10px;
    width: 455px;
    min-width: 350px;
    margin-bottom: 20px;
}

.monologue-body-inline {
    padding: 10px;
    font-size: 100%;
    font-style: normal;
    line-height: 1.25;
    width: 455px;
    border: #333 solid;
    border-width: 1px;
    margin-bottom: 20px;
    min-height: 300px;
}

.display-hide {
    display: none;
}

.monologue-body-loading {
    height: 32px;
    width: 32px;
}

.monologue-pdflink {
    text-decoration: none;
}


/*
    Google search
*/


div.google-sitesearch {
    padding-top: 15px;
}

div.google-sitesearch img {
    vertical-align: bottom;
}

input.googlesearch {
    font-size: 115%;
}


.small {
    font-family: verdana;
    font-size: 10px;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}



/*
a#everbutton-693-1398040059-85.everbutton.everbutton-693-1398040059-85.everbutton-blue {
    height: 25px;
    width: 49px;
    padding: 0;
}
*/


a.tip-jar {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px 8px 12px;
    margin-left: 8px;
    margin-bottom: 20px;
    text-decoration: none;
}

a.tip-jar:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

th.th-pad-right {
    padding-right: 50px;
}

/* Search box has too much bootstrap bling */
.form-control:focus {
    border-color: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    width: 95%;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: #F9F9DF;
    color: #222222;
}

.monologue-controls {
    margin-top: -5px;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 200%;
    padding: 2px;
    width: 700px;
}

.big-font {
    font-size: 140%;
    font-weight: 400;
}

.huge-font {
    font-size: 250%;
    font-style: italic;
    font-weight: 600;
    padding-right: 4px;
    padding-left: 4px;
    color: gray;
}

a.filter-gender {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 140%;
    font-weight: 400;
}

a.remove-play span.huge-font {
    color: black;
}

.filter-play {
    margin-right: 18px;
    padding-left: 6px;
    font-size: 150%;
    font-weight: 600;
    border-bottom: 1px solid;
}

a.control-active {
    font-size: 150%;
    font-weight: 900;
    border-bottom: 1px solid;
}

.center-this {
    margin: auto;
    padding-top: 0px;
    width: 65%;
    min-width: 335px;
    
    vertical-align: top;
}

.center-that {
    margin: auto;
    width: 85%;
    min-width: 350px;
    vertical-align: top;
}
span.toggle-control>a.toggle-mono>img {
    width: 34px;
    height: 34px;
    margin-left: 12px;
    padding-bottom: 6px;
}

.form-control{
    border-color: unset;
    -webkit-box-shadow: none;
    box-sizing: border-box;
    width: 95%;
    outline: -webkit-focus-ring-color auto 0px; 
    background-color: #F9F9DF;
    color: #222222;
}
.input-group {
    background-color: #F9F9DF;
    color: #222222;
}

.border-box {
    box-sizing: border-box;
    width: 95%;
  }

.home-page div {
    margin: auto;
    padding-top: 0;
    padding-bottom: 0; 
    margin-top: 5px;
  }  

.custom-h1 {
    margin-top: 10px; /* Adjust the value as needed */
    margin-bottom: 10px; /* Adjust the value as needed */
  }
  
.survey-h1 {
    margin: auto; /* special element for triggering PostHog surveys*/
}

.glyphicon-refresh.searching {
    /*display: none;*/
    color: gray;
    padding: 5px;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    font-size: 130%;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.debug-text {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 90%;
    background-color: orange;
    color: inherit;
    padding: 5px;
    font-family: Arial;
    z-index: 0;
}

.search-box-default {
    background-color: #F9F9DF;
    color: #222222;
  }

.dark-mode {
    background-color: #222222;
    color: #F9F9DF;
    background-image: none; /* Remove the background image in dark mode */
  }  
  
  .dark-mode a {
    color: #F9F9DF;
  }
  
  .dark-mode a:hover {
    color:  #79b3ff;
    text-decoration: underline;
  }

 .dark-mode .search-box-dark {
    background-color: #2b2a2a;
    color: #F9F9DF; 
}

.dark-mode .form-control:focus {
    border-color: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    width: 95%;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: #2b2a2a;
    color: #F9F9DF;
  }

  .dark-mode .form-control {
    border-color: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    width: 95%;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: #2b2a2a;
    color: #F9F9DF;
  }
  
  .dark-mode .input-group {
    background-color: #2b2a2a;
    color: #F9F9DF;
  }

  
  
  