<!-- The site heading, or banner, or title or whatso'er shall please you -->
<div class="col-md-12 text-center accent-font" style="padding-top: 0; padding-bottom: 0;">
  <h1 class="custom-h1" style="margin-top: 0; margin-bottom: 0;">Shakespeare's Monologues</h1>
</div>
<!-- begin left column -->
<div
  class="left-column col-md-2 col-xs-12"
  style="display: inline; text-align: center; margin: 0 auto; padding-left: 0;"
>
  <i id="dark-mode-icon" class="dark-mode-icon-class">🌙</i>
  <div
    class="link-menu-left accent-font"
    style="display: inline; text-align: center; margin: 0 auto;"
  >
    <!-- left column menu -->
    <a href="/mens">Men</a>&nbsp; · <a href="/womens">Women</a>&nbsp; · <a href="/plays">All</a>
    <br />
    <a href="/home">Home</a>&nbsp; · <a href="/faq">Help</a>&nbsp; ·
    <span class="link-menu-left accent-font" style="font-size: 14px">
      <a href="https://ko-fi.com/shakespearesmonologues" target="_blank" style="color: inherit; text-decoration: none; font-size: 12px;">
        <img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Tip Jar" style="width: 14px; height: 12px; vertical-align: middle; margin-right: 3px; animation: kofi-wiggle 3s infinite;">Tip Jar
      </a>
      <style>
        @keyframes kofi-wiggle {
          0% { transform: rotate(0) scale(1) }
          60% { transform: rotate(0) scale(1) }
          75% { transform: rotate(0) scale(1.12) }
          80% { transform: rotate(0) scale(1.1) }
          84% { transform: rotate(-10deg) scale(1.1) }
          88% { transform: rotate(10deg) scale(1.1) }
          92% { transform: rotate(-10deg) scale(1.1) }
          96% { transform: rotate(10deg) scale(1.1) }
          100% { transform: rotate(0) scale(1) }
        }
      </style>
    </span>
  </div>
  <!-- left_column_ads -->
  <br /><br />
</div>
<!-- end left column -->

  <!-- begin center column -->
<div class="center-column col-md-8 col-xs-12" style="padding-left:0px; vertical-align: top;">
  <!-- begin dynamic inner inner content -->
  <%= @inner_content %>
  <!-- end dynamic inner inner content -->
  <div class="center-column-footer accent-font">
    <div class="link-menu-bottom">
      <a href="/mens">The Men</a>&nbsp; · <a href="/womens">The Women</a>&nbsp; · <a href="/plays">All</a>&nbsp; · <a href="/links">Links</a>&nbsp; · <a
        rel="me"
        href="https://bsky.app/profile/shakesmonos.bsky.social"
        target="_blank"
      >Bluesky</a>&nbsp; ·
      <a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">FB</a>
      <br />
      <a href="/home">Home</a>&nbsp; · <a href="/faq">FAQ &nbsp;</a>&nbsp; · <a href="/aboutus">About</a>&nbsp; · <a href="/privacy">Privacy</a>&nbsp; ·
      <a href="/contact">Contact</a>
    </div>
    <!-- Ko-fi Tip Jar Button BEGIN -->
    <div class="tip_jar">
      <a href="https://ko-fi.com/shakespearesmonologues" target="_blank" style="display: inline-block; background-color: #F9F9DF; border: 1px solid #E0E0C0; border-radius: 4px; padding: 6px 10px; text-decoration: none; color: #111; font-size: 12px;">
        <img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Coffee" style="width: 16px; height: 13px; vertical-align: middle; margin-right: 5px; animation: wiggle 3s infinite;">
        Tip Jar
      </a>
      <style>
        @keyframes wiggle {
          0%, 60% { transform: rotate(0) scale(1); }
          75% { transform: rotate(0) scale(1.1); }
          84% { transform: rotate(-8deg) scale(1.1); }
          88% { transform: rotate(8deg) scale(1.1); }
          92% { transform: rotate(-8deg) scale(1.1); }
          96% { transform: rotate(8deg) scale(1.1); }
          100% { transform: rotate(0) scale(1); }
        }
      </style>
    </div>
    <!-- Ko-fi Tip Jar Button END -->
    <br />
    <div id="fb-root"></div>
    <div
      class="fb-like"
      data-action="like"
      data-href="//www.shakespeare-monologues.org/"
      data-layout="button_count"
      data-share="false"
      data-show-faces="true"
    >
    </div>
    <div class="bluesky">
      <a href="https://bsky.app/profile/shakesmonos.bsky.social" target="_blank">
        <img
          src={Routes.static_path(@conn, "/images/bluesky16x16.png")}
          alt="Bluesky"
          width="20"
          height="20"
          border="0"
        />
      </a>
    </div>
    <hr size="1" width="75" noshade />
    <!-- begin embedded google search box -- disabled until the rebuild is complete and the site has been recrawled  
                     <script async src="https://cse.google.com/cse.js?cx=c24610b5fdc28455e">
                     </script>
                     <div class="gcse-search"></div>
                    end embedded google search box -->
    <br /><br />
    <!-- begin copyright -->
    <div class="center-column-copyright"></div>
    <table align="right" style="padding-right: 25px;">
      <tr>
        <td align="right" valign="bottom" height="200" width="300">
          <font style="font-size:70%">The texts of Shakespeare's plays is public domain.</font>
          <br />
          <font style="font-size:75%">
            This site is licensed under
            a<br /><a
              rel="license"
              href="//creativecommons.org/licenses/by-nc-sa/4.0/"
              target="_blank"
            >Creative
                  Commons License</a>.<br />
            <!-- Creative Commons License -->
            <a rel="license" href="//creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
              <img
                alt="Creative Commons License"
                src={Routes.static_path(@conn, "/images/somerights20.gif")}
                border="0"
              />
            </a>
            <br />
            <!-- /Creative Commons License -->
                  &copy; 1997
            <script>
              new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());
            </script>
            Steven Shults &amp; Brandon Faloona
            <br />Contact linked sites regarding their copyrights.
          </font>
          <br /><br />
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- end copyright -->
                    <!--end center column --> 
                <!-- begin right column -->
<div
  class="right-column col-md-2 col-xs-12"
  style="display: inline; text-align: center; margin: 0 auto; padding-left: 50px; padding-right: 5px;"
>
  <!-- /.link-menu-right -->
        
              <!-- begin tip jar button -->
  <div class="kofi-button-container">
    <a href="https://ko-fi.com/shakespearesmonologues" target="_blank" style="display: inline-block; background-color: #F9F9DF; border: 1px solid #E0E0C0; border-radius: 3px; padding: 4px 6px; text-decoration: none; color: #111; font-size: 10px;">
      <img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Coffee" style="width: 14px; height: 11px; vertical-align: middle; margin-right: 3px; animation: wiggle 3s infinite;">
      Tip Jar
    </a>
  </div>
  <!-- end tip jar button -->
  <br /><br />
  <!-- Zazzle Button BEGIN -->
  <a href="https://www.zazzle.com/shakesmonosstuff*" rel="nofollow" target="_blank">
    <img
      border="0"
      width="78"
      height="20"
      src={Routes.static_path(@conn, "/images/zazzlebutton.png")}
    />
  </a>
  <!-- Zazzle Button END -->
  <br /><br />
  <div class="addthis_inline_share_toolbox"></div>
  <!-- AddThis Button END -->
  <div style="display: inline; text-align: center; margin: 0 auto; padding-right: 0;">
    <span class="small">
      <font face="verdana" size="-1">
        <a rel="me" href="https://bsky.app/profile/shakesmonos.bsky.social" target="_blank">
          <img
            src="/images/bluesky16x16.png"
            alt="Bluesky"
            title="Bluesky"
            width="16"
            height="16"
            border="0"
          />
        </a>
      </font>
    </span>
    <hr style="width:75px;  noshade;" />
  </div>
  <!-- begin rightcol google graphic ad -->
                
                <!-- end rightcol unmatched responsive -->
                    <!-- end right column -->
</div>
