<main class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <div class="container">
    <div class="left-column col-md-2 col-xs-12">
      <br>
      <div class="link-menu-left accent-font" style="display: inline;">

  <!-- left column menu -->
  <a href="/mens">The Men</a>&nbsp; · 
  <a href="/womens">The Women</a>&nbsp; · 
  <a href="/plays">All</a>
  <br>
  <a href="/home">Home</a>&nbsp; · 
  <a href="/faq.html#Q0">How To</a>&nbsp; · 
  <a href="/links">Links</a>



  <!-- TODO: Revert override. was: if Padrino.env == :production -->
  <!-- left_column_ads -->
  <p> </p>
  <!-- google_afmc -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- leftcol1 -->
  <ins class="adsbygoogle" data-ad-client="ca-pub-5236095389905910" data-ad-slot="3862062942" style="display:inline-block;width:120px;height:90px"></ins>
  <!-- google_afmc -->
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({  });
  </script>
  <!-- The "a1" div is for the adblock detection. Please don't change the div name without testing to confirm that it will work with a different div name -->
  <div id="a1">
    <!-- google_afmc -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- rightcolresponsiveNotMatched -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-5236095389905910" data-ad-format="auto" data-ad-slot="1417287716" style="display:block"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({  });
    </script>
  </div>
</div>
    </div>
    <div class="center-column col-md-7 col-xs-12">
<!-- Page views should contain .center-column-header and .center-column-list -->
      <%= @inner_content %>
      <!-- Footer contains .center-column-footer -->
<div class="center-column-footer accent-font">
  <div class="link-menu-bottom">
    <a href="/mens">The Men </a>
    <a href="/womens">The Women</a>
    <a href="/plays">Search All</a>
    <a href="/links">Links</a>
    <!-- replace Richie Rich's fascist-enabling bullshit with m@stodon  -->
    <a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">FB</a>
    <a href="/home">Home</a>
    <a href="/faqs">FAQ &nbsp;</a>
    <a href="/aboutus">About</a>
    <a href="/privacy">Privacy</a>
    <a href="http://shults.org/shakes/contact.php">Contact</a>

         <!-- Everbutton Tip Jar Button BEGIN -->
<div class="tip_jar">
      <!-- begin donation button -->
    <a id="everbutton-693-1398040059-85" class="everbutton everbutton-693-1398040059-85 everbutton-blue" href="https://www.everbutton.com/donate/693" style="height:20px;width:49px;min-width:45px;padding:0px;">Tip Jar</a>
    <!-- end donation button -->
</div>
<!-- Everbutton Tip Jar Button END -->
      <br>
  <div id="fb-root"></div>
  <div class="fb-like" data-action="like" data-href="//www.shakespeare-monologues.org/" data-layout="button_count" data-share="false" data-show-faces="true"></div>
 <!-- M@stodon stuff goes here -->
 <hr size="1" width="75" noshade>
  </div>

  <div class="googleadsensefooter">
    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" data-ad-client="ca-pub-5236095389905910" data-ad-format="autorelaxed" data-ad-slot="9674616910" style="display:block"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  </div>
<br><br>
  <gcse:search></gcse:search>

 <!--end center column --> 

<!-- begin right column -->

    <div class="right-column col-md-3 col-xs-12">
      <!-- begin right column -->
<div class="right_column" align="center">
      <!-- begin donation button -->
    <a id="everbutton-693-1398040059-85" class="everbutton everbutton-693-1398040059-85 everbutton-blue" href="https://www.everbutton.com/donate/693" style="height:20px;width:49px;min-width:45px;padding:0px;">Tip Jar</a>
    <!-- end donation button -->
  <br><br>
  <!-- Zazzle Button BEGIN -->
<a href="https://www.zazzle.com/shakesmonosstuff*" rel="nofollow" target="_blank">
<img border="0" width="78" height="20" src={ Routes.static_path(@conn, "/images/zazzlebutton.png")} />
</a>
<!-- Zazzle Button END -->

<br><br>
<!-- AddThis Button BEGIN -->
<style>
div.addthis_toolbox {
width: 85px;
margin: 0 auto;
}
</style>
<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
<a class="addthis_button_facebook"></a>
<!-- replace with m@stodon? a class="addthis_button_twitter"></a -->
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532e2d3068288ec1"></script>
<!-- AddThis Button END -->
<div style="text-align:center">
<span class="small">
<br>
<font face="verdana" size="-1">
<a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">FB</a>&nbsp;&nbsp;
<!-- replace shitter with m@stodon -->
</font>
</span>
</div>
<hr size="1" width="75" noshade>

  <!-- begin rightcol google graphic ad -->
  <div id="google_afmc">
    <script async src="/js/adsbygoogle.js"></script>
    <!-- rightcolgraphic -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-5236095389905910" data-ad-slot="1016396307" style="display:inline-block;width:300px;height:250px"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!-- end rightcol google graphic ad -->
  <br>
  <!-- begin rightcol unmatched responsive -->
  <div id="google_afmc_2">
    <script async src="/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" data-ad-client="ca-pub-5236095389905910" data-ad-format="vertical" data-ad-slot="1114850054" display="block"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!-- end rightcol unmatched responsive -->
</div> 
  <!-- end right column -->

<!-- begin copyright -->
    <table align="right" style="padding-right: 25px;">
    <tr>
    <td  align="right" valign="bottom" height="200" width="300">
    <font style="font-size:70%">The texts of Shakespeare's plays is public domain.</font><br>
    <font style="font-size:75%">This site is licensed under
    a<br><a rel="license"
    href="//creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative
    Commons License</a>.<br>
    <!-- Creative Commons License -->
    <a rel="license"
    href="//creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img
    alt="Creative Commons License" src={ Routes.static_path(@conn, "/images/somerights20.gif")}
    border="0"></a><br>
    <!-- /Creative Commons License -->
    &copy; 1997<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Steven Shults &amp; Brandon Faloona
    <br>Contact linked sites regarding their copyrights.
    </font><br><br>
      </td>
    </tr>
    </table>

</div>
    </div>

    </div>
</main>
