<!-- The site heading, or banner, or title or whatso'er shall please you -->
<div class="col-md-12 text-center accent-font" style="padding-top: 0; padding-bottom: 0;">
  <h1 class="custom-h1" style="margin-top: 0; margin-bottom: 0;">Shakespeare's Monologues</h1>
</div>
<!-- begin left column -->
<div
  class="left-column col-md-2 col-xs-12"
  style="display: inline; text-align: center; margin: 0 auto; padding-left: 0;"
>
  <i id="dark-mode-icon" class="dark-mode-icon-class">🌙</i>
  <div
    class="link-menu-left accent-font"
    style="display: inline; text-align: center; margin: 0 auto;"
  >
    <!-- left column menu -->
    <a href="/mens">Men</a>&nbsp; · <a href="/womens">Women</a>&nbsp; · <a href="/plays">All</a>
    <br />
    <a href="/home">Home</a>&nbsp; · <a href="/faq">Help</a>&nbsp; ·
    <span class="link-menu-left accent-font" style="font-size: 14px">
      <a
        id="everbutton-693-1398040059-85"
        class="everbutton-693-1398040059-85 tip_jar"
        href="https://www.everbutton.com/donate/693"
        style="height:0px;width:0px;min-width:0px;padding:0px;accent-font;"
      >
        Tip Jar
      </a>
    </span>
  </div>
  <!-- left_column_ads -->
  <br /><br />
</div>
<!-- end left column -->

  <!-- begin center column -->
<div class="center-column col-md-8 col-xs-12" style="padding-left:0px; vertical-align: top;">
  <!-- begin dynamic inner inner content -->
  <%= @inner_content %>
  <!-- end dynamic inner inner content -->
  <div class="center-column-footer accent-font">
    <div class="link-menu-bottom">
      <a href="/mens">The Men</a>&nbsp; · <a href="/womens">The Women</a>&nbsp; · <a href="/plays">All</a>&nbsp; · <a href="/links">Links</a>&nbsp; · <a
        rel="me"
        href="https://mastodon.social/@shakesmonos"
        target="_blank"
      >Mastodon</a>&nbsp; ·
      <a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">FB</a>
      <br />
      <a href="/home">Home</a>&nbsp; · <a href="/faq">FAQ &nbsp;</a>&nbsp; · <a href="/aboutus">About</a>&nbsp; · <a href="/privacy">Privacy</a>&nbsp; ·
      <a href="http://shults.org/shakes/contact.php">Contact</a>
    </div>
    <!-- Everbutton Tip Jar Button BEGIN -->
    <div class="tip_jar">
      <!-- begin donation button -->
      <a
        id="everbutton-693-1398040059-85"
        class="everbutton everbutton-693-1398040059-85 everbutton-blue tip_jar"
        href="https://www.everbutton.com/donate/693"
        style="height:20px;width:49px;min-width:45px;padding:0px;"
      >
        Tip Jar
      </a>
      <!-- end donation button -->
    </div>
    <!-- Everbutton Tip Jar Button END -->
    <br />
    <div id="fb-root"></div>
    <div
      class="fb-like"
      data-action="like"
      data-href="//www.shakespeare-monologues.org/"
      data-layout="button_count"
      data-share="false"
      data-show-faces="true"
    >
    </div>
    <div class="mastodon">
      <a href="https://mastodon.social/@shakesmonos" target="_blank">
        <img
          src={Routes.static_path(@conn, "/images/mastodon16x16.png")}
          alt="Mastodon"
          width="20"
          height="20"
          border="0"
        />
      </a>
    </div>
    <hr size="1" width="75" noshade />
    <!-- begin embedded google search box -- disabled until the rebuild is complete and the site has been recrawled  
                     <script async src="https://cse.google.com/cse.js?cx=c24610b5fdc28455e">
                     </script>
                     <div class="gcse-search"></div>
                    end embedded google search box -->
    <br /><br />
    <!-- begin copyright -->
    <div class="center-column-copyright"></div>
    <table align="right" style="padding-right: 25px;">
      <tr>
        <td align="right" valign="bottom" height="200" width="300">
          <font style="font-size:70%">The texts of Shakespeare's plays is public domain.</font>
          <br />
          <font style="font-size:75%">
            This site is licensed under
            a<br /><a
              rel="license"
              href="//creativecommons.org/licenses/by-nc-sa/4.0/"
              target="_blank"
            >Creative
                  Commons License</a>.<br />
            <!-- Creative Commons License -->
            <a rel="license" href="//creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
              <img
                alt="Creative Commons License"
                src={Routes.static_path(@conn, "/images/somerights20.gif")}
                border="0"
              />
            </a>
            <br />
            <!-- /Creative Commons License -->
                  &copy; 1997
            <script>
              new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());
            </script>
            Steven Shults &amp; Brandon Faloona
            <br />Contact linked sites regarding their copyrights.
          </font>
          <br /><br />
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- end copyright -->
                    <!--end center column --> 
                <!-- begin right column -->
<div
  class="right-column col-md-2 col-xs-12"
  style="display: inline; text-align: center; margin: 0 auto; padding-left: 50px; padding-right: 5px;"
>
  <!-- /.link-menu-right -->
        
              <!-- begin tip jar button -->
  <a
    id="everbutton-693-1398040059-85"
    class="everbutton everbutton-693-1398040059-85 everbutton-blue tip_jar"
    href="https://www.everbutton.com/donate/693"
    style="height:20px;width:49px;min-width:45px;padding:0px;"
  >
    Tip Jar
  </a>
  <!-- end tip jar button -->
  <br /><br />
  <!-- Zazzle Button BEGIN -->
  <a href="https://www.zazzle.com/shakesmonosstuff*" rel="nofollow" target="_blank">
    <img
      border="0"
      width="78"
      height="20"
      src={Routes.static_path(@conn, "/images/zazzlebutton.png")}
    />
  </a>
  <!-- Zazzle Button END -->
  <br /><br />
  <div class="addthis_inline_share_toolbox"></div>
  <!-- AddThis Button END -->
  <div style="display: inline; text-align: center; margin: 0 auto; padding-right: 0;">
    <span class="small">
      <font face="verdana" size="-1">
        <a rel="me" href="https://mastodon.social/@shakesmonos" target="_blank">
          <img
            src="/images/mastodon16x16.png"
            alt="Mastodon"
            title="Mastodon"
            width="16"
            height="16"
            border="0"
          />
        </a>
      </font>
    </span>
    <hr style="width:75px;  noshade;" />
  </div>
  <!-- begin rightcol google graphic ad -->
                
                <!-- end rightcol unmatched responsive -->
                    <!-- end right column -->
</div>
