<!DOCTYPE html>
<html lang="en">
  <head>
 
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href={Routes.static_path(@conn, "/favicon.ico")}>
<title>404 - File Not Found on Shakespeare's Monologues Site - Redirecting back home</title>
<meta http-equiv="REFRESH" content="15;url=/plays">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}>
  
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/css/application.css")}>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic" type="text/css" rel="stylesheet">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-600620-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- clickjacking defense from https://www.codemagi.com/blog/post/194 -->
<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<!-- end clickjacking defense -->
</head>
<body>
404 - File Not Found<br><br>
<font face="verdana" size="-1">
<center><h2>Alas, the file is not here to be found</h2>
<h4>You'll be redirected <a href="/plays" target="_top">back to the monologues</a> shortly</h4>
</center>
</font>
<center>
<table>
<tr><td><font face="verdana" size="-1">
Or perhaps you'd settle instead for a list of lines in which Shakespeare used the phrase "not found"?<br><br>
<ul>
<li>The drug he gave me, which he said was precious<br>
And cordial to me, have I <b>not found</b> it<br>
Murderous to the senses? - <i>Imogen in Cymbeline Act IV Scene 2</i><br><br>
</li>
<li>My good lord, have great care<br>
I be <b>not found</b> a talker. - <i>Henry VIII in Henry VIII Act II Scene 2</i><br><br>

</li>
<li>If you will take a homely man's advice,<br>
Be <b>not found</b> here; hence, with your little ones. - <i>Messenger in Macbeth Act IV Scene 2</i> <br><br>
</li>
<li>I cry you mercy, sir; and well could wish<br>
You had <b>not found</b> me here so musical - <i>Mariana in Measure for Measure ActIV Scene 1</i><br><br>

</li>
<li>To find persistive constancy in men:<br>
The fineness of which metal is <b>not found</b><br>
In fortune's love; - <i>Agamemnon in Troilus and Cressida Act I Scene 3</i><br><br>
</li>
<li>and the king shall live without an heir, if that<br>
which is lost be <b>not found</b>. - <i>Officer in Winter's Tale Act III Scene 2</i>
</li>
</ul>
</font>
</td></tr>
</table>
</center>
</body>
</html>

