

<section class="row">
  <article class="monologue_preview">
     <%= for row <- @rows do %>
       <br><br>
       <%= row.play %>&nbsp; · <%= row.location %>&nbsp; · <%= row.style %> 
       <br>
       <%= row.character %><br>
       <%= row.firstline %>
      <br><br>
       <%= raw(row.body) %>
     <% end %>
  </article>
</section>
