<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<TITLE>404 - File Not Found on Shakespeare's Monologues Site - Redirecting back home</TITLE>
<style fprolloverstyle>A:hover {color: #5E2612; text-decoration: underline; font
-weight: bold}
</style>
<style>A {text-decoration: none; color: #696969; font-style: italic  }
</style>
<meta http-equiv="REFRESH" content="15;url=//www.shakespeare-monologues.org">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-600620-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- clickjacking defense from https://www.codemagi.com/blog/post/194 -->
<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<!-- end clickjacking defense -->
</head>
<BODY BGCOLOR="#F9F9DF" background=parchment.jpg>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;404 - File Not Found<p>
<font face="verdana" size="-1">
<center><h2>Alas, the file is not here to be found</h2>
<h4>You'll be redirected <a href="http://shakespeare-monologues.org" target="_top">back to the monologues</a> shortly</h4>
</center>

<table align=center>

<tr><td><font face="verdana" size="-1">
Or perhaps you'd settle instead for a list of lines in which Shakespeare used the phrase "not found"?<p>
<ul>
<li>The drug he gave me, which he said was precious<br>
And cordial to me, have I <b>not found</b> it<br>
Murderous to the senses? - <i>Imogen in Cymbeline Act IV Scene 2</i><br><br>
<li>My good lord, have great care<br>
I be <b>not found</b> a talker. - <i>Henry VIII in Henry VIII Act II Scene 2</i><br><br>

<li>If you will take a homely man's advice,<br>
Be <b>not found</b> here; hence, with your little ones. - <i>Messenger in Macbeth Act IV Scene 2</i> <br><br>
<li>I cry you mercy, sir; and well could wish<br>
You had <b>not found</b> me here so musical - <i>Mariana in Measure for Measure ActIV Scene 1</i><br><br>

<li>To find persistive constancy in men:<br>
The fineness of which metal is <b>not found</b><br>
In fortune's love; - <i>Agamemnon in Troilus and Cressida Act I Scene 3</i><br><br>
<li>and the king shall live without an heir, if that<br>
which is lost be <b>not found</b>. - <i>Officer in Winter's Tale Act III Scene 2</i>
</ul>
</font>

</td></tr>
</table>

<center>
<a href="/"><b>[Home]</b></a><b> <a href="//www.shakespeare-monologues.org/men">[Men's Monologues]</a> <a href="//www.shakespeare-monologues.org/women">[Women's Monologues]</a> <a href="http://shakespeare-monologues.org/store/index.html">[Books]</a>
<a href="http://shults.org/shakes/contact.php">[Contact]</a>  </b></font><b></b>

</b>
<br>&nbsp; <br>

</center>
</font>
</body>
</html>
