<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html itemscope itemtype="https://schema.org/CollectionPage">
<head>
<title>About Shakespeare's Monologues </title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!-- BASE href="//www.shakespeare-monologues.org" target="_top" -->

<script src={ Routes.static_path(@conn, "/assets/js/jquery.min.js")}> type="text/javascript"></script>
<script type="text/javascript">
    jQuery.noConflict()
  </script>

<!-- Mobile OS add to homescreen and web app goodies -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" href={ Routes.static_path(@conn, "/images/favicon.ico")}>
<link rel="shortcut icon" href={ Routes.static_path(@conn, "/images/favicon.ico")}>
<link rel="icon" sizes="196x196" href={ Routes.static_path(@conn, "/images/icon-196x196.png")}>
<link rel="apple-touch-icon" sizes="196x196" href={ Routes.static_path(@conn, "/images/icon-196x196.png")}>
<link rel="shortcut icon" sizes="196x196" href={ Routes.static_path(@conn, "/images/icon-196x196.png")}>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="ShakesMonos">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" sizes="144x144" href={ Routes.static_path(@conn, "/images/icon-144x144.png")}>
<link rel="apple-touch-icon" sizes="120x120" href={ Routes.static_path(@conn, "/images/icon-120x120.png")}>
<link rel="apple-touch-icon" sizes="114x114" href={ Routes.static_path(@conn, "/images/icon-114x114.png")}>
<link rel="apple-touch-icon" sizes="76x76" href={ Routes.static_path(@conn, "/images/icon-76x76.png")}>
<link rel="apple-touch-icon" sizes="72x72" href={ Routes.static_path(@conn, "/images/icon-72x72.png")}>
 <!-- iPhone Splash Screen-->
    <link href="/img/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) Splash Screen-->
    <link href="/img/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone (5) Splash Screen-->
    <link href="/img/Default-568h@2x.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" sizes="640x1096">
    <!-- iPad (portrait) Splash Screen-->
    <link href="/img/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) Splash Screen-->
    <link href="/img/apple-touch-startup-image-1024x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) Splash Screen-->
    <link href="/img/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) Splash Screen-->
    <link href="/img/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link rel="apple-touch-icon-precomposed" href="/img/icon-152x152.png">
<script>
addToHomescreen.removeSession();
  addToHomescreen({
     maxDisplayCount: 2,
     lifespan: 15,
     });
  </script>

<!-- add to homescreen -->
<link rel="stylesheet" type="text/css" href={ Routes.static_path(@conn, "/assets/css/addtohomescreen.css")}>
<script src={ Routes.static_path(@conn, "/assets/js/addtohomescreen.js")}></script>
<script>
addToHomescreen.removeSession();
  addToHomescreen({
     maxDisplayCount: 3,
     lifespan: 20,
     });
  </script>

<link rel="icon" sizes="196x196" href={ Routes.static_path(@conn, "/images/icon-196x196.png")}>
<link rel="apple-touch-icon" sizes="196x196" href={ Routes.static_path(@conn, "/images/icon-196x196.png")}>
<link rel="shortcut icon" sizes="196x196" href={ Routes.static_path(@conn, "/images/icon-196x196.png")}>

<!-- end Mobile OS add to homescreen and web app goodies -->

<!-- iOS - keep internal links in web app, don't break out to safari -->
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
<!-- end iOS - keep internal links in web app, don't break out to safari -->

<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
<!-- end iOS - keep internal links in web app, don't break out to safari -->

<meta name="description" content="Making it easier to find monologues since 1997. A complete database of Shakespeare's Monologues. All of them. The monologues are organized by play, then categorized by comedy, history and tragedy. You can browse and/or search. Each monologue entry includes the character's name, the first line of the speech, whether it is verse or prose, and shows the act, scene & line number. Each entry provides a link to the full text of the scene. You can download each monologue for printing, already double-spaced for scansion and transcription.">

<meta name="keywords" content="William Shakespeare, shakespeare, monologues, shakespeare monologues, shakespeare's monologues, shakespearean, monologue, speech, speeches, soliloquy, soliloquies, database, find, search, browse, index, quotes, quotations, Comedies, Histories, Tragedies, A Midsummer Night's Dream, All's Well That Ends Well, As You Like It, Cymbeline, Love's Labour's Lost, Measure for Measure, Merry Wives of Windsor, Much Ado About Nothing, Pericles, Prince of Tyre, The Comedy of Errors, The Merchant of Venice, The Taming of the Shrew, The Tempest, The Winter's Tale, Troilus and Cressida, Twelfth Night Or What You Will, 12th Night, TWelfth Night, Two Gentlemen of Verona, Henry IV i, Henry IV ii, Henry V, Henry VI i, Henry VI ii, Henry VI iii, Henry VIII, King John, Richard II, Richard III, Antony & Cleopatra, Coriolanus, Hamlet, Julius Caesar, King Lear, Macbeth, Othello, Romeo and Juliet, Timon of Athens, Titus Andronicus">
<meta name="verify-v1"
content="43Tfyc84pBq4LxJ6S3NHue3NJt2M+oKCcoiN41SEKB8=">
<style fprolloverstyle="">a:hover {color: #5E2612; text-decoration: underline; font-weight: bold}
</style>
<style>a {text-decoration: none; color: #696969; font-style: italic  }
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-600620-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<link rel="search" type="application/opensearchdescription+xml" title="Search Shakespare's Monologues" href={ Routes.static_path(@conn, "/opensearch.xml")} />

<meta name="flattr:id" content="o6x2wd">

<!-- begin google adsense page-level mobile ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5236095389905910",
    enable_page_level_ads: true
  });
</script>
<!-- begin google adsense page-level mobile ads -->

<!-- when the rest of the page has loaded, load the social.js-one-script-to-rule-them-all -->
     <script>
     (function($) {
       $(window).bind("load", function() {
       $.getScript('{ Routes.static_path(@conn, "/js/social.js")}', function() {});
       });
     })(jQuery);
     </script>
<!-- rouse the rabble to call the FCC to keep net neutrality. 2-23-2019: disabled until there's a new president and senate marjority. we're getting nowhere until then. -->
     <!-- script src="https://widget.battleforthenet.com/widget.js" async></script -->
     <!-- Begin cookie consent -->
     <link rel="stylesheet" type="text/css" href={ Routes.static_path(@conn, "/css/cookieconsent.min.css")} />
     <script src={ Routes.static_path(@conn, "/js/cookieconsent.min.js")}></script>
     <script>
     window.addEventListener("load", function(){
     window.cookieconsent.initialise({
       "palette": {
         "popup": {
           "background": "#d5ca9d"
         },
         "button": {
           "background": "#4b81e8"
         }
       },
       "content": {
         "message": "This site uses cookies for site functionality.  We use third-party tools for ads, social media integration, link-sharing, donations, and site analytics. Each of these third party tools also use cookies. By using this site, you agree to the use of these cookies.",
         "dismiss": "Understood",
         "link": "Click here for details.",
         "href": "https://www.shakespeare-monologues.org/privacy"
       }
     })});
     </script>
     <!-- End cookie consent -->
</head>
<body bgcolor="#f9f9df"> <!-- too bright for test and dev-- background={ Routes.static_path(@conn, "/images/parchment.jpg")}> -->


<table align="center" width="100%">
<tr>
<td align="center" width="100%">


<table align="center" valign="top" cellpadding="0" cellspacing="0" width="">
<tr>
            <td colspan="" cellpadding="0" cellspacing="0" align="center" valign="top" width="500">
    <b><font face="verdana" size="+3" itemprop="name">Shakespeare's Monologues</font></b><br>

         <font face="verdana" size="-1"><i>Making it easier to find monologues since 1997</i>
    </font>              <br><br>

                   <center><a href="plays"><img itemprop="image" src={ Routes.static_path(@conn, "/images/foliocover.gif")} border="0"></a></center>

</td>
</tr>

</table>

<table align="center" valign="middle" height="" width="60%">
<tr>
<td width="60%"  ><br>
<font face="arial" size="+1">About Shakespeare's Monologues</font><br>
<font face="verdana" size="-1">A complete database of Shakespeare's Monologues. All of them. The monologues are organized by play, then categorized by comedy, history and tragedy. You can browse and/or search. Each monologue entry includes the character's name, the first line of the speech, whether it is verse or prose, and shows the act, scene & line number. Each entry provides a link to the full text of the scene. You can download each monologue for printing, already double-spaced for scansion and transcription. These PDFs are provided courtesy of
 <i><a href="//www.teequillin.com/" target="_blank">Tee Quillin</a></i>.)<br><br>
This site was concieved, created and is maintained by <a href="http://shults.org/actingresume.html" target="_blank">Steven Shults</a> with help over the years from <a href="//www.facebook.com/profile.php?id=644676424" target="_blank">Aim&#233;e Bruneau</a>, <a href="//www.teequillin.com/" target="_blank">Tee Quillin</a> & <a href="//www.facebook.com/brandon.faloona" target="_blank">Brandon Faloona</a>.
<br><br>
The money brought in by ads and tips does not cover the cost of hosting & maintenance. This is a not-for-profit adventure.</font>
</td>
</tr>

<tr>
<td width="60%"><br>
<font face="arial" size="+1">How this site came to be</font><br>
<font face="verdana" size="-1">
When I was in <a href="http://www.act-sf.org/home/conservatory/mfa_program.html" target="_blank">grad school</a> from '95 to '97, I went searching for a site like this because the idea of such a site seemed more efficient to me than spending a few hours with the complete works on my lap. I found no such site, so after graduation, I built it.
<br><br>
During school, I found a list of monologues in the library at  <a href="//www.act-sf.org/home/conservatory/mfa_program.html" target="_blank">A.C.T.</a> which were left on the reference shelves by a fellow Alumnus.
<br><br>
Then I found the Complete Works of Shakespeare Online. I typed up the list from the shelves of the A.C.T. library and converted it to html, inserting links to each particular Play/Act/Scene.
<br><br>
I later (much later, and with some help from <a href="//www.facebook.com/profile.php?id=644676424" target="_blank">Aim&#233;e Bruneau</a>) completed the index to include every piece of text viable for audition, performance, classwork and/or workshop.
<br><br>
In March of 2006 I was contacted by <a href="//www.teequillin.com/" target="_blank">Tee Quillin</a>, with an offer of partnership between our sites. Tee provided the addition of PDFs of each monologue for easy printing. The PDfs are double-spaced for scansion and transcription.
<br><br>
In March of 2010 my old friend  <a href="//www.facebook.com/brandon.faloona" target="_blank">Brandon Faloona</a> offerred to greatly improve this site with his <a href="//en.wikipedia.org/wiki/Ruby_on_rails" target="_blank">Ruby on Rails</a> skills.  This incredibly kind offer led to the great search functionality and the ability to display and hide monologues within the page.  A fun bit of trivia: Brandon and I first met in 1986 while working on a college production of Hamlet. The first production of a Shakespeare play either of us ever performed in.
<br><br>
Feedback, suggestions, corrections and questions encouraged.  <a href="http://shults.org/shakes/contact.php">Email me</a>.
</font>
</td>
</tr>
</table>

<table align="center" valign="bottom" height="90" width="80%">
<tr>
<td align="center" valign="bottom" height="90" width="100%">
<font face="verdana" size="2px"><br>
<a href="/">[Home]</a>

<a href="women/">[Women's Monologues]</a>

<a href="men/">[Men's Monologues]</a>

<a href="links">[Links]</a>

<a href="//www.shakespeare-monologues.org/quiz.html">[Quiz]</a>

<a href="//twitter.com/ShakesMonos/" target="_blank">[Twitter]</a>

<a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">[FB]</a>

<a href="faqs">[FAQ]</a>

<a href="privacy">[Privacy]</a>

<a href="http://shults.org/shakes/contact.php">[Contact]</a> </font>
<br><br>

<!-- begin donation button -->
<a id="everbutton-693-1398040059-85" class="everbutton everbutton-693-1398040059-85 everbutton-blue" href="https://www.everbutton.com/donate/693" style="height:20px;width:49px;min-width:45px;padding:0px;">Tip Jar</a>
<!-- end donation button -->
<br/>
<!-- begin social media buttons -->
     <!-- begin facebook button -->
     <div id="fb-root"></div>
     <div class="fb-like" data-href="//www.shakespeare-monologues.org/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
     <!-- end facebook button -->
     <!-- begin twitter follow button -->
     <a href="//twitter.com/ShakesMonos" class="twitter-follow-button" data-show-count="false">Follow @ShakesMonos</a>
     <!-- end twitter follow button -->
<!-- end social media buttons -->

</td></tr></table>


<table align="right">
<tr>
<td  align="left" valign="bottom" height="200" width="200">
<br><br>
<font style="font-size:60%">The texts of Shakespeare's plays is public domain.  Contact linked sites regarding intellectual property rights of those sites.</font><br>

<!-- Creative Commons License -->
<a rel="license"
href="//creativecommons.org/licenses/by-nc-sa/3.0/"><img
alt="Creative Commons License" src="/images/somerights20.gif"
border="0"></a><br>

<!-- /Creative Commons License -->


<font style="font-size:60%">This site is licensed under<br>
a <a rel="license"
href="//creativecommons.org/licenses/by-nc-sa/3.0/">Creative
Commons License</a>.<br>
&copy; 1997<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Steven Shults & Brandon Faloona
</font><br>

</td>
</tr>
</table>

</td>
</tr>
</table>

<table align="center" valign="bottom" height="90" width="80%">
<tr>
<td align="center" valign="bottom" height="90" width="100%">
<font face="verdana" size="2px"><br>
<a href={ Routes.static_path(@conn, "/")}>[Home]</a>

<a href={ Routes.static_path(@conn, "/women/")}>[Women's Monologues]</a>

<a href={ Routes.static_path(@conn, "/men/")}>[Men's Monologues]</a>

<a href={ Routes.static_path(@conn, "/links")}>[Links]</a>

<a href="//www.shakespeare-monologues.org/quiz.html">[Quiz]</a>

<a href="//twitter.com/ShakesMonos/" target="_blank">[Twitter]</a>

<a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">[FB]</a>

<a href={ Routes.static_path(@conn, "/faqs")}>[FAQ]</a>

<a href={ Routes.static_path(@conn, "/privacy")}>[Privacy]</a>

<a href="http://shults.org/shakes/contact.php">[Contact]</a> </font>
<br><br>

<!-- begin donation button -->
<a id="everbutton-693-1398040059-85" class="everbutton everbutton-693-1398040059-85 everbutton-blue" href="https://www.everbutton.com/donate/693" style="height:20px;width:49px;min-width:45px;padding:0px;">Tip Jar</a>
<!-- end donation button -->
<br/>
<!-- begin social media buttons -->
     <!-- begin facebook button -->
     <div id="fb-root"></div>
     <div class="fb-like" data-href="//www.shakespeare-monologues.org/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
     <!-- end facebook button -->
     <!-- begin twitter follow button -->
     <a href="//twitter.com/ShakesMonos" class="twitter-follow-button" data-show-count="false">Follow @ShakesMonos</a>
     <!-- end twitter follow button -->
<!-- end social media buttons -->

</td></tr></table>


<table align="right">
<tr>
<td  align="left" valign="bottom" height="200" width="200">
<br><br>
<font style="font-size:60%">The texts of Shakespeare's plays is public domain.  Contact linked sites regarding intellectual property rights of those sites.</font><br>

<!-- Creative Commons License -->
<a rel="license"
href="//creativecommons.org/licenses/by-nc-sa/3.0/"><img
alt="Creative Commons License" src={ Routes.static_path(@conn, "/images/somerights20.gif")}>
border="0"></a><br>

<!-- /Creative Commons License -->


<font style="font-size:60%">This site is licensed under<br>
a <a rel="license"
href="//creativecommons.org/licenses/by-nc-sa/3.0/">Creative
Commons License</a>.<br>
&copy; 1997<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Steven Shults & Brandon Faloona
</font><br>

</td>
</tr>
</table>
</body></html>
