<title>About Us · Shakespeare's Monologues</title>

<table align="center" width="100%">
  <tr>
    <td align="center" width="100%">
      <table align="center" valign="top" cellpadding="0" cellspacing="0" width="">
        <tr>
          <td
            colspan=""
            cellpadding="0"
            cellspacing="0"
            align="center"
            valign="top"
            width="500"
            class="accent-font"
          >
            <font size="+0.5">
              <i>Making it easier to find monologues since 1997</i>
            </font>
             <br /><br />
            <center>
              <a href="/plays/">
                <img
                  itemprop="image"
                  src="/images/icon-196x196.png"
                  width="196"
                  height="196"
                  border="0"
                  title="Portrait from cover of First Folio. 
Click to browse monologues for all genders."
                  alt="Portrait from
cover of First Folio. 
Click to browse monologues for all genders."
                />
              </a>
            </center>
          </td>
        </tr>
      </table>
      
      <table align="center" valign="middle" height="" width="90%" class="accent-font">
        <tr>
          <td width="90%">
            <br />
            <font size="+1.5">About Shakespeare's Monologues</font>
             <br />
            A complete database of Shakespeare's Monologues. All of them. The monologues are organized by play, then categorized by comedy, history and tragedy. You can browse and/or search. Each monologue entry includes the character's name, the first line of the speech, whether it is verse or prose, and shows the act, scene & line number. Each entry provides a link to the full text of the scene. You can download each monologue for printing, already double-spaced for scansion and transcription. These PDFs are provided courtesy of <i><a
                href="//www.teequillin.com/"
                target="_blank"
              >Tee Quillin</a></i>.)<br /><br />
            This site was concieved, created and is maintained by
            <a href="http://shults.org/actingresume.html" target="_blank">Steven Shults</a>
            with help over the years from <a
              href="//www.facebook.com/profile.php?id=644676424"
              target="_blank"
            >Aim&#233;e Bruneau</a>, <a href="//www.teequillin.com/" target="_blank">Tee Quillin</a>, and last but most definitely not least, <a
              href="//www.facebook.com/brandon.faloona"
              target="_blank"
            >Brandon Faloona</a>. <br /><br />
            The money brought in by ads and tips does not cover the cost of hosting & maintenance. This is a not-for-profit adventure.
          </td>
        </tr>
        
        <tr>
          <td width="90%">
            <br />
            <font size="+1.5">How this site came to be</font>
             <br />
            <font size="-1">
              When I was in
              <a href="http://www.act-sf.org/home/conservatory/mfa_program.html" target="_blank">
                grad school
              </a>
              from '95 to '97, I went searching for a site like this because the idea of such a site seemed more efficient to me than spending a few hours with the complete works on my lap. I found no such site, so after graduation, I built it.
              <br /><br /> During school, I found a list of monologues in the library at
              <a href="//www.act-sf.org/home/conservatory/mfa_program.html" target="_blank">
                A.C.T.
              </a>
              which were left on the reference shelves by a fellow Alumnus. <br /><br />
              Then I found the Complete Works of Shakespeare Online. I typed up the list from the shelves of the A.C.T. library and converted it to html, inserting links to each particular Play/Act/Scene.
              <br /><br />
              I later (much later, and with some help from <a
                href="//www.facebook.com/profile.php?id=644676424"
                target="_blank"
              >Aim&#233;e Bruneau</a>) completed the index to include every piece of text viable for audition, performance, classwork and/or workshop.
              <br /><br />
              In March of 2006 I was contacted by <a href="//www.teequillin.com/" target="_blank">Tee Quillin</a>, with an offer of partnership between our sites. Tee provided the addition of PDFs of each monologue for easy printing. The PDfs are double-spaced for scansion and transcription.
              <br /><br /> In March of 2010 my old friend
              <a href="//www.facebook.com/brandon.faloona" target="_blank">Brandon Faloona</a>
              offerred to greatly improve this site with his
              <a href="//en.wikipedia.org/wiki/Ruby_on_rails" target="_blank">Ruby on Rails</a>
              skills.  This incredibly kind offer led to the great search functionality and the ability to expand and collapse monologues within the page.
              <br /><br />
              A fun bit of trivia: Brandon and I first met in 1986 while working on a college production of Hamlet. The first production of a Shakespeare play either of us ever performed in.
              <br /><br />
              <font size="+1.5">More recently</font>
               <br />
              On December 1st, 2022, the site went down when the webhost stopped supporting the old version of Ruby the site was running on. The site was down for almost 3 months. Six weeks into trying to upgrade the site to a current version of Ruby made it clear that Ruby has become more trouble than it's worth for us.
              <br /><br />
              So, instead of trying to upgrade the site to a current version of Ruby (which neither Brandon nor I have the time for these days), I decided to rewrite the site in the
              <a href="https://www.phoenixframework.org/" target="_blank">Phoenix</a>
              framework for the <a href="https://elixir-lang.org/" target="_blank">Elixir</a>
              language. As a result, the new version of the site is not only easier to improve and maintain, it's also now much faster and more secure.
              <br /><br />
              When I started rebuilding the site, I knew nothing about Phoenix or Elixir.  I got a lot of help translating files, troubleshooting bugs, and learning Phoenix/Elixir from <a
                href="https://openai.com"
                target="_blank"
              >Open AI</a>'s
              <a href="https://platform.openai.com/docs/models/gpt-3" target="_blank">
                text-davinci-003
              </a>
              and <a href="https://chat.openai.com/chat" target="_blank">ChatGPT</a>, and from the kind and welcoming community in the <a
                href="https://elixirforum.com/"
                target="_blank"
              >Elixir Forum</a>. <br /><br />

              Feedback, suggestions, corrections, and/or questions encouraged: <a href="http://shults.org/shakes/contact.php">Email me</a>
            </font>
          </td>
        </tr>
        <tr>
          <td width="90%">
            <br />
            <font size="+1.5">Tech Stuff</font>
             <br /><br />
            <font size="-1">If you want to have a look at / borrow code from the site: <a href="https://github.com/slshults/mono-phoenix" target="_blank">mono-phoenix on GitHub</a> 
            <br /><br />
            Here's a bunch of the stuff we use to serve up the monologues to you:
<ul>
  <li><a href="https://www.phoenixframework.org/" target="_blank">Phoenix Framework</a></li>
  <li><a href="https://elixir-lang.org/" target="_blank">Elixir</a></li>
  <li><a href="https://www.erlang.org/" target="_blank">Erlang</a></li>
  <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
  <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
  <li><a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
  <li><a href="https://github.com/" target="_blank">GitHub</a></li>
  <li><a href="https://openai.com/" target="_blank">OpenAI</a></li>
  <li><a href="https://posthog.com/" target="_blank">PostHog</a></li>
  <li><a href="https://analytics.google.com/" target="_blank">Google Analytics</a></li>
  <li><a href="https://www.addtoany.com/" target="_blank">addtoany.com</a></li>
  <li><a href="https://everbutton.com/" target="_blank">everbutton.com</a></li>
  <li><a href="https://www.google.com/adsense/start/" target="_blank">Adsense</a></li>
</ul>

        </font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
