<title>FAQ · Shakespeare's Monologues</title>
<table align="center" width="100%" class="accent-font">
  <tr>
    <td align="center" width="100%">
      <table align="center" valign="top" cellpadding="0" cellspacing="0" width="">
        <tr>
          <td colspan="" cellpadding="0" cellspacing="0" align="center" valign="top" width="420">
            <b>
              <font size="+2" itemprop="name">Frequently Asked Questions</font>
            </b>

            <br /><br />
            <center>
              <a href="/plays/">
                <img
                  itemprop="image"
                  src="/images/icon-196x196.png"
                  width="196"
                  height="196"
                  border="0"
                  title="Portrait from cover of First Folio.
Click to browse monologues for all genders."
                  alt="Portrait from
cover of First Folio.
Click to browse monologues for all genders."
                />
              </a>
            </center>
          </td>
        </tr>
      </table>

      <table align="center" valign="middle" height="" width="90%" class="accent-font">
        <tr>
          <td width="90%">
            <br />
            <font size="+0.5">
              <ol>
                <li>
                  <a href="#Q0">I don't get it. How do I use this site to find monologues?</a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q1">
                    Why is the text of a monologue on this site a little different from the copy I have?
                  </a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q2">
                    Why are the line numbers on this site different from the line numbers in the copy I have?
                  </a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q3">
                    Why is the search tool not finding the monologue I'm searching for?
                  </a>
                  <br />
                </li>
                <br />
                <li><a href="#Q4">Can you suggest a monologue for me?</a> <br /></li>
                <br />
                <li>
                  <a href="#Q5">
                    I found an error or I have a suggestion. How can I send it in?
                  </a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q6">
                    Why are "Double Falsehood", "The Reign of Edward III" and other "lost plays" not included?
                  </a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q7">
                    What's with <i>The Men</i> and <i>The Women</i>?  Why so cis?
                  </a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q8">Why are you using AI? I don't like AI!</a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q9">I don't like ads. Why are there so many ads on this site?</a>
                  <br />
                </li>
                <br />
                <li>
                  <a href="#Q10">How do I sign up to support the site?</a> <br />
                </li>
                <br />
                <li>
                  <a href="#Q11">Who handles the money? Will you see my credit card number?</a>
                  <br />
                </li>
                <br />
                <li><a href="#Q12">How do I log in?</a> <br /></li>
                <br />
                <li>
                  <a href="#Q13">How do I use the Favorites feature?</a> <br />
                </li>
                <br />
                <li>
                  <a href="#Q14">How do I change my email address or password?</a> <br />
                </li>
                <br />
                <li><a href="#Q15">How do I cancel my subscription?</a> <br /></li>
                <br />
                <li><a href="#Q16">Do you have an Android App and/or an iOS app?</a> <br /></li>
                <br />
                <li>
                  <a href="#Qmcp">Can I use AI to find monologues here (Do you have an MCP server)?</a>
                  <br />
                </li>
                <br />
                <li><a href="#Q17">Do you have a site map?</a> <br /></li>
                <br />
                <li>
                  <a href="#Q18">My question isn't answered here. What do I do?</a> <br />
                </li>
                <br />
              </ol>
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q0"><br /></a>
            <font>
              <b>
                I don't get it. How do I use this site to find monologues?
              </b>
            </font>
            <br />
            <font size="">
              Whether you're having trouble understanding how to use the site, or want to make sure you're getting the most out of the site, this video will walk you through it.  The basics of using the site are all covered in the first 4 minutes. You'll know all about using the site after the first 7.5 minutes, and you'll find out about the site's social media presence if you watch all 13.5 minutes.  Enjoy:
            </font>
            <br /><br />
            <iframe
              width="419"
              height="314"
              src="//www.youtube.com/embed/H6nn_wrTo9A?rel=0"
              frameborder="0"
              allowfullscreen
            >
            </iframe>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q1"><br /></a>
            <font>
              <b>
                Why is the text of a monologue on this site a little different from the copy I have?
              </b>
            </font>
            <br />
            <font size="">
              Different versions of Shakespeare's works have variations in the text because
              each publishing house hired a different group of 'editors' who,
              working primarily with the <a
                href="//sceti.library.upenn.edu/sceti/printedbooksNew/index.cfm?TextID=firstfolio&PagePosition=3"
                target="_blank"
              >First
Folio of 1623</a>, set to ink their own "interpretation" and
              "improvements" upon the text found in the First Folio.&nbsp; The folio
              is the oldest available <em>full</em>
              printing of the complete works, and is
              closer to how the plays were originally performed.<a href="#*">*</a> The spellings, punctuation (or lack thereof) and other conventions
              used in the folio contain hints for actors which are lost in the later
              versions through "corrections" and other edits made by the editors of
              more recent generations.  This site uses text from <i>The Globe</i>
              editions because that is the text used by the
              <a href="//www.opensourceshakespeare.org/" target="_blank">
                Open Source Shakespeare
              </a>
              to which I link for each entry.<br /><br />
              I suggest you use the <a
                href="//smile.amazon.com/Riverside-Shakespeare-2nd-William/dp/0395754909"
                target="_blank"
              >Riverside</a>, the <a
                href="//smile.amazon.com/Arden-Shakespeare-Complete-Works/dp/1408152010"
                target="_blank"
              >Arden</a>, the <a
                href="//smile.amazon.com/s/ref=nb_sb_noss_1?tag=shakessmonolo-20&linkCode=sb1&camp=212353&creative=380553&url=search-alias%3Dstripbooks&field-keywords=The%20New%20Cambridge%20Shakespeare"
                target="_blank"
              >Cambridge</a>, the
              <a
                href="//smile.amazon.com/Complete-Pelican-Shakespeare-William/dp/0141000589/ref=sr_1_1?s=books&ie=UTF8&qid=1398033273&sr=1-1&tag=shakessmonolo-20&linkCode=sb1&camp=212353&creative=380553"
                target="_blank"
              >
                Penguin/Pelican
              </a>
              or the
              <a
                href="//smile.amazon.com/s/ref=nb_sb_noss_1?tag=shakessmonolo-20&linkCode=sb1&camp=212353&creative=380553&url=search-alias%3Dstripbooks&field-keywords=Folger+shakespeare+library&rh=n%3A283155%2Ck%3AFolger+shakespeare+library"
                target="_blank"
              >
                Folger
              </a>
              editions of the plays for your audition or classwork. <br /><br />
              When in doubt, check <a
                href="//sceti.library.upenn.edu/sceti/printedbooksNew/index.cfm?TextID=firstfolio&PagePosition=3"
                target="_blank"
              >The Folio</a>.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q2"><br /></a>
            <font>
              <b>
                Why are the line numbers on this site different from the line numbers in the copy I have?
              </b>
            </font>
            <br />
            <font size="">
              The line numbers I've listed in the index of monologues may differ (by up to 10 lines or so) from the hard copy version you have in your home/school/theatre.  This is common as the line numbers vary from edition to edition.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q3"><br /></a>
            <font>
              <b>
                Why is the search tool not finding the monologue I'm searching for?
              </b>
            </font>
            <br />
            <font size="">
              The search engine on the site is not as advanced as search websites (e.g. Google.) The search tool on this site will look for exactly what you type, more or less. Punctuation doesn't matter, but spelling does (note: Elizabethan English had different spellings for many words.)
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q4"><br /></a>
            <font>
              <b>
                Can you suggest a monologue for me?
              </b>
            </font>
            <br />
            <font size="">
              Alas, no. I cannot.  Only someone who has seen you act can suggest an appropriate monologue to show off the uniqueness that is you. Ask a friend, teacher, director, or someone else who has seen you act in class or in performance.  Perhaps pose the question to your friends on social media.<br /><br />
              If you're not an actor, but are required to memorize a monologue for a non-acting class, just pick one you've heard of, or one that sounds interesting to you.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q5"><br /></a>
            <font>
              <b>
                I found an error or I have a suggestion. How can I send it in?
              </b>
            </font>
            <br />
            <font size="">
              Thanks. Please <a href="/faq?contact=true" onclick="return openSupportWidget()">click here to send me a message</a>.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q6"><br /></a>
            <font>
              <b>
                Why are "Double Falsehood", "The Reign of Edward III" and other "lost plays" not included?
              </b>
            </font>
            <br />
            <font size="">
              This site is faithful to the <a
                href="https://www.folger.edu/explore/shakespeare-in-print/first-folio/"
                target="_blank"
              >First Folio</a>. I'm not interested in any aspects of the "Authorship Debate" because the question of "who really wrote the plays" is completely irrelevant to acting in, or directing, the plays.  The "lost plays" or "new plays" have become a part of that debate, so to avoid that controversy altogether I stick with the original complete works as published in the <a
                href="https://www.folger.edu/explore/shakespeare-in-print/first-folio/"
                target="_blank"
              >First Folio</a>.
            </font>
          </td>
        </tr>
        <tr>
          <td width="90%">
            <br /><a name="Q7"><br /></a>
            <font>
              <b>
                What's with <i>The Men</i> and <i>The Women</i>?  Why so cis?
              </b>
            </font>
            <br />
            <font size="">
              I fully support all forms of gender identity and expression.<br /><br />
              The categories <i>The Men</i>
              and <i>The Women</i>
              refer to the gender of the character in the play. Your gender identity does not need to match that of the character when selecting a monologue from Shakespeare's plays, unless you want it to.<br /><br />
              Remember that in Shakespeare's day all of <i>The Women</i>
              characters were played by men, and 1/5th of his plays include at least one cross-dressing character. It may also be helpful to remember that Shakespeare died in the year 1616, hundreds of years before our modern cultural divides were being fanned by politicians to gain power, and by cable news to increase ad revenue.
              <br /><br />Gender fluidity has been part of the human experience all along, and will always be.
            </font>
          </td>
        </tr>
        <tr>
          <td width="90%">
            <br /><a name="Q8"><br /></a>
            <font>
              <b>
                Why are you using AI? I don't like AI!
              </b>
            </font>
            <br />
            <font size="">
              <span style="font-size: 0.9em; font-weight: 600;">Backstory:</span><br />
              When I first started building this website in 1997, I had been thinking about adding summaries for plays and scenes, as well as paraphrased versions of each monologue. Once I'd done all the collection and data entry needed to gather all the monologues for the site, I then did a little bit of math to figure out how long it would take to write a summary for each play and scene, and to paraphrase each monologue: this work would require reading (or rereading) every play. Then I'd need to do some research to make sure each summary was correct before posting it. Then I'd need to re-read each scene, and do some research to make sure my summary was correct. Then I'd need to read and research each monologue to make sure I was getting my Elizabethan and dramatic interpretation correct. Then I'd actually need to do all the writing and editing for that content. <br /><br />
              <span style="font-size: 0.9em; font-weight: 600;">The amount of work involved:</span><br />
              There are 745 monologues on the site, taken from 402 scenes, in 37 plays.<br /><br />
              If I had tried to write all of these play summaries, scene summaries, and paraphrasings myself, it would have taken <b>at least 1,100 hours of work</b>.<br /><br />
              That would be 46 straight days of work if I did not sleep, eat, or take bathroom breaks. If I broke that down to a 40-hour work week, it would have taken six months of full-time work, minimum.<br /><br />
              But I have to work for a living (this site makes no profit). So, the most work I could have put in would have been about six hours a week, in a good week (which would have required ignoring my family, my pets, my other responsibilities, my hobbies, etc.). At that rate it would have taken me <b>three and a half years</b>, minimum, to write all the summaries and paraphrasings myself.<br /><br />
              <span style="font-size: 0.9em; font-weight: 600;">The cost to pay someone else to do the work:</span><br />
              If I had paid someone else to do the work, at the US minimum wage that would cost $8,000 (this site makes no profit). That would have taken at least six months, assuming I could find someone to devote 40 hours a week to it. However, someone willing to accept minimum wage for this work would not be qualified to do this work.<br /><br />
              A person qualified to do this work would be an experienced Shakespeare dramaturg. The average rate of pay, in USD, for an experienced Shakespeare dramaturg is about $35/hour. So, paying someone actually qualified enough to do the work would have cost <b>$38,500, minimum</b>. This site makes no profit.<br /><br />
              <span style="font-size: 0.9em; font-weight: 600;">On the environmental impacts:</span><br />
              Yes, the ecological footprint of AI data centers is awful. But <b>this site is NOT generating a new summary every time</b> someone clicks to get one.<br /><br />
              <i><b>Each summary or paraphrasing was generated only once</b></i>. That first summary or paraphrasing is then saved in a database, and then the text is served from the database any time someone else wants the same summary. So, this site isn't constantly using AI. <b>This site used AI once for each</b> play summary, each scene summary, and each paraphrasing.<br /><br />
              <b>For perspective:</b> Based on available information about energy and water use by a frontier AI model reading and writing text, the total energy and water use consumed by AI writing summaries and paraphrasings for this entire website has been roughly this:
              <ul><br />
                <li>Energy: ~1 kWh</li>
                <li>Water: ~1 gallon</li>
              </ul>
              That's the grand total for all time. Not daily, monthly, or yearly. <b>Ever.</b> Total. Full stop.<br /><br />
              So, in total, the environmental impact of AI use on this site was roughly the amount of energy it costs to run your refrigerator for one day, and about half the amount of water it takes for you to flush your toilet once.<br /><br />
              <span style="font-size: 0.9em; font-weight: 600;">On the pros and cons of AI:</span><br />
              As with all technological advances, there are pros and there are cons. From the discovery of fire, to the development of shipbuilding, to the invention of the printing press, the invention of the steam engine, the automobile, the airplane, the ability to split atoms, computers, and the internet itself, technological advances have always brought problems and dangers, along with the efficiencies and benefits. This conundrum is not new to the human experience, even if you're young enough to be living through it for the first time.<br /><br />
              I'm personally opposed to the use of AI for creative content. I don't think it should be used to write fiction, I don't think it should be used to create visual art, I don't think it should be used to write news, I don't think it should be used to replace actors for voiceover work or on-screen work, etc. But AI is great at writing code, and it's great at writing summaries and paraphrasing. So I used AI to help actors find the right monologue for their audition or classwork and to help them understand the pieces they're choosing from.<br /><br />
              So, if minimal use of AI on this site to generate summaries and paraphrasings is still a problem for you after reading all of the above, you have a simple remedy available to you: Don't use this website. Instead, you can go buy a hard copy of The Complete Works of William Shakespeare. Each time you need a new monologue you can spend several hours with that huge book in your lap, making manual notes on paper, to find yourself a new monologue, just like I used to do back in the mid-90s before I built this website.
            </font>
          </td>
        </tr>
        <tr>
          <td width="90%">
            <br /><a name="Q9"><br /></a>
            <font>
              <b>
                I don't like ads. Why are there so many ads on this site?
              </b>
            </font>
            <br />
            <font size="">
              For the same reason you see ads in the program when you see a play. Production (of any kind) is not free, so I need to try to recover a little bit of the money I lose on this site (by running ads.)<br /><br />
              In the interest of full transparency: Our ad revenue averages about $200 per month during the school year, and about $100 per month in the summer (the best month ever was $500, but that was back before the economy crashed in 2008.) The ad revenue almost covers the costs of creating and maintaining the site. Almost. Sometimes. Your "donations" via the Tip Jar button are much appreciated. (Since the autumn of 2008, donations have totalled less than $200. That's not per year, that's total.)
              <br /><br />
              I don't like ads either. I don't mind if you use adblocking software while viewing this site.<br /><br />
              Or you can remove ads from the site and get access to the "Favorites" feature by <a href="/signup">signing up</a> to support the site for $1.25/mo or $10/year.
            </font>
          </td>
        </tr>
        <tr>
          <td width="90%">
            <br /><a name="Q10"><br /></a>
            <font>
              <b>
                How do I sign up to support the site?
              </b>
            </font>
            <br />
            <font size="">
              Head over to the <a href="/signup">sign-up page</a> and enter your email address, then click <a href="/signup">'Support the site →'</a>. That'll take you to Stripe's secure checkout system to enter your payment details. When done, Stripe will send you back here, with ads removed and the favorites feature unlocked. You'll see a choice to create a password, or have a login link emailed to you.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q11"><br /></a>
            <font>
              <b>
                Who handles the money? Will you see my credit card number?
              </b>
            </font>
            <br />
            <font size="">
              Payments are handled entirely by <a href="https://stripe.com" target="_blank">Stripe</a>, one of the most trusted payment processors on the web. Your card details never touch our servers, we can never see your card number or other info, Stripe protects your info. All we receive from Stripe is "this person paid, give them access", along with a customer ID so we can match up renewals and cancellations.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q12"><br /></a>
            <font>
              <b>
                How do I log in?
              </b>
            </font>
            <br />
            <font size="">
              Visit the <a href="/users/log-in">log-in page</a>. You'll have two options:<br /><br />
              <ul>
                <li>
                  <b>Magic link:</b><br />
                  Type the email address you used to create your account, click <b>'Log in with email →'</b>, and we'll send you a one-click link. Check your inbox, open the email, click the link. (Check the spam folder if you don't find it in your inbox.)<br />
                </li>
                <li>
                  <b>Password:</b><br />
                  If you've set A password, you can log in with your email address + password.
                </li>
              </ul>
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q13"><br /></a>
            <font>
              <b>
                How do I use the Favorites feature?
              </b>
            </font>
            <br />
            <font size="">
              Next to each monologue you'll see a little heart icon: <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linejoin="round"
                aria-hidden="true"
                style="vertical-align: middle;"
              >
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
              </svg><br />
              Click the heart to add that monologue to your favorites.
              <br /> Click the <b>'Favs'</b> link in the left-side menu, or in the footer menu, to see your favorites.<br />
              You can sort by play, character, or sort by date added.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q14"><br /></a>
            <font>
              <b>
                How do I change my email address or password?
              </b>
            </font>
            <br />
            <font size="">
              Visit the <a href="/account">Account page</a>, then click <b>'Change email or password'</b>. That takes you to the Account Settings page where you can update either one. Changing your email address sends a confirmation link to the new address; click that link to confirm and complete the change.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q15"><br /></a>
            <font>
              <b>
                How do I cancel my subscription?
              </b>
            </font>
            <br />
            <font size="">
              From the <a href="/account">Account page</a>, click <b>'Manage subscription'</b>. That opens Stripe's secure customer portal, where you can cancel, update your payment method, switch between monthly and yearly, or download invoices.<br /><br />
              After cancelling, you'll still have no ads and you can keep using your favorites until the end of the billing period you've already paid for. (If you decide to renew again later, your favorites will still be there waiting for you, as long as you renew with the same email address you used initially.)
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q16"><br /></a>
            <font>
              <b>
                Do you have an Android App and/or an iOS app?
              </b>
            </font>
            <br />
            <font size="">
              We did, for a few years, but it wasn't popular enough to warrant spending time and money to keep it alive, so we let it die. However, you can use the "Add to homescreen" option in Chrome on Android devices, or the "Add to Home Screen" option in Safari on an iPhone. When you tap on the icon on your desktop, it will open in a minimized version of the browser, which behaves just like our app used to.
              <br /> <br /> You can find quick and easy instructions here: <br />
              <a
                href="//www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/"
                target="_blank"
              >
                How to Add Websites to the Home Screen on Any Smartphone or Tablet
              </a>
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Qmcp"><br /></a>
            <font>
              <b>
                Can I use AI to find monologues here (Do you have an MCP server)?
              </b>
            </font>
            <br />
            <font size="">
              Yes. If your AI agent supports MCP (Model Context Protocol) connectors (Claude and ChatGPT both do), you can connect it to our free MCP server for more accurate responses from the AI. Your AI can then search and pull <i>real</i> monologue data straight from this site: the actual text, line numbers, plays, characters, as well as the summaries and paraphrasing. Using our MCP server will result in far fewer misquotes and other hallucinations that AI tends to produce when asked about Shakespeare.<br /><br />
              To connect, add this URL as a custom (remote) MCP connector in your assistant:<br /><br />
              <b>https://mcp.shakespeare-monologues.org/mcp</b><br /><br />
              It's free, needs no account, no login info, and reads content directly from this site.
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q17"><br /></a>
            <font>
              <b>
                Do you have a site map?
              </b>
            </font>
            <br />
            <font size="">
              We do, but it's xml. It's really intended for machines and other website developers:
              <a href={Routes.static_path(@conn, "/sitemap.xml")} target="_blank">
                sitemap.xml
              </a>
            </font>
          </td>
        </tr>

        <tr>
          <td width="90%">
            <br /><a name="Q18"><br /></a>
            <font>
              <b>
                My question isn't answered here. What do I do?
              </b>
            </font>
            <br />
            <font size="">
              Please <a href="/faq?contact=true" onclick="return openSupportWidget()">click here to send me a message</a>.
            </font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script>
  (function() {
    var hash = window.location.hash;
    if (!hash) return;
    var name = hash.slice(1);
    var target = document.querySelector('a[name="' + name + '"]');
    if (!target) return;
    // Wait one frame so the browser's default anchor scroll happens first, then center.
    requestAnimationFrame(function() {
      target.scrollIntoView({ block: 'center', behavior: 'smooth' });
    });
  })();
</script>
