<div class="center-column-header">
  {% render 'shared/search_box_controls', layout: false, locals: { toggle: toggle, monologue_controls: true } %}
</div>

<div class="center-column-list">
  <div class="jquery-search-replace">
    <!-- Contents of this div replaced by key up triggered jquery ajax call -->

    {% play_title = @play.title if @play %}
    {% partial('monologues/list', locals: { show_play_title: true, play_title: play_title, toggle: toggle }) %}
  </div>
</div>