<form id="search-form" class="navbar-form" role="">
  <div class="input-group accent-font">
    <input id="search-box" class="form-control" name="search" type="text" autocomplete="off" action="#" tabindex="1">
    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate searching"></i>
  </div>