<.live_title prefix="Monologues from ">
  <%= if length(@rows) > 0,
    do: "#{hd(@rows).play} &middot; Shakespeare's Monologues",
    else: "Shakespeare's Monologues" %>
</.live_title>

<div class="center-column-header accent-font">
  <h3>Search or browse monologues from</h3>
  <h2>
    &nbsp; &nbsp; &nbsp; <%= if length(@rows) > 0, do: hd(@rows).play, else: "" %>
  </h2>
</div>
<!-- Enter The Search Box -->
<div class="search-box-dark search-box-default input-group accent-font form-control monologue-list center-this">
  <%= live_render(
    @socket,
    MonoPhoenixV01Web.SearchByPlayLive,
    id: "searchbyplay",
    class:
      "search-box-dark search-box-default input-group accent-font form-control monologue-list",
    session: %{"play_id" => @play_id}
  ) %>
</div>
<!-- Exeunt The Search Box -->
<div>
  <div class="center-this monologue-list">
    <table class="monologue-list">
      <tbody>
        <span style="font-size:11px;" class="accent-font">
          <hr style="display:block;height:2px;border-width:1;color:gray;background-color:black;width:35%;margin-top:0.5em;margin-bottom:0.5em" />
          <center>
            Search results appear above this line. If you see none, try fewer or different words.<br />
            <b>&middot;</b>
            <br /> Click on the 1st line, under the character's name, to see the full monologue.
          </center>

          <a href="#" data-toggle="collapse" data-target=".multi-collapse" id="toggle-button">
            <img
              src="/images/ExpandAll.png"
              id="toggle-image"
              style="background-color: #F9F9DF; border-radius: 5px;"
              alt="👆 Click to toggle text of all monologues on the page.
  🔄️ Reload the page to reset the toggle"
              title="👆 Click to toggle the text of all monologues on the page.
  🔄️ Reload the page to reset the toggle."
            />
          </a>
        </span>
        <%= for row <- @rows do %>
          <tr class="monologue_list">
            <td>
              <span
                class="monologue-playname"
                alt="This is the title of the play the monologue is found in."
                title="This is the title of the play the monologue is found in."
              ><%= row.play %></span>&nbsp; &middot; <span
                class="monologue-actscene"
                alt="👆 Click here to read the whole scene. 
This link jumps you to the monologue, 
scroll up to read from the top of the scene."
                title="👆 Click here to read the whole scene. 
This link jumps you to the monologue, 
scroll up to read from the top of the scene."
              ><%= link to: raw(row.scene), method: :get, target: "_blank" do %><%= row.location %><% end %></span>&nbsp; &middot;
              <span class="monologue-actscene"><%= row.style %></span>
              <br />
              <span
                class="monologue-character"
                alt="This is the name of the character who speaks this monologue."
                title="This is the name of the character who speaks this monologue."
              >
                <%= row.character %>
              </span>
              <br />
              <div
                class="monologue-firstline-table"
                alt="👆 Click to hide or display the full monologue"
                title="👆 Click to hide or display the full monologue"
                data-toggle="collapse"
                data-target={"#collapse-" <> Integer.to_string(row.monologues)}
              >
                <%= row.firstline %>
              </div>
              <div
                class="collapse multi-collapse monologue-show"
                id={"collapse-" <> to_string(row.monologues)}
              >
                <br />
                <%= raw(Map.get(row, :body)) %>&nbsp;
                <%= link to: raw(row.pdf), method: :get, target: "_blank", rel: "noopener" do %>
                  <img
                    src={Routes.static_path(@socket, "/images/pdf_file_icon_16x16.png")}
                    alt="👆 Click for a double-spaced PDF of this monologue"
                    title="👆 Click for a double-spaced PDF of this monologue"
                    class="monologue-pdflink"
                  />
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  const toggleButton = document.getElementById('toggle-button');
  const toggleImage = document.getElementById('toggle-image');

  toggleButton.addEventListener('click', () => {
    toggleImage.classList.toggle('collapsed');
  });
</script>

<style>
  #toggle-image.collapsed {
    content: url('/images/CollapseAll.png');
  }

  #toggle-image {
    content: url('/images/ExpandAll.png');
  }
</style>
